In [5]:
# print() prints nothing
print()

In [6]:
#Simple Print
print('Welcome to Python101')

Welcome to Python101

In [7]:
#Double quote print
print("Python language's core philosophy is summarized in the document The Zen of Python")

Python language's core philosophy is summarized in the document The Zen of Python

In [8]:
#Print with variable
sample_string ='Python'
print(sample_string)

Python

In [9]:
#Print Tree
print('   o')
print('  o o')
print(' o o o')
print('o o o o')
print('   | ')

   o
  o o
 o o o
o o o o
   |

In [10]:
#Print variable added to string
sample_name = 'UTD'
print('I am studying @',sample_name)            #note the space is there when , is used
print('I am studying @'+sample_name)            #while concatination space is not there.

I am studying @ UTD
I am studying @UTD

In [11]:
a = 5
print("a =", a)                                 # Two objects are passed
b = a
print('a =', 'b =', b)                          # Three objects are passed

print('a','b',b,sep='=')                        # Separator is '=' between objects
print("a =", a, sep='00000', end='\n')          # Separator is '00000' between objects and end ='\n' inserts line break
print("a =", a, sep='0', end=' ')               # Including end='' keeps output on same line
print('= b')

#A new line can also be output by inserting \n.
print('3\n2\n1\nGO!!!')
print('a is', a, '\nb is', b)

print('3 2 1 Go!')                              #prints on single line.

a = 5
a = b = 5
a=b=5
a =000005
a =05 = b
3
2
1
GO!!!
a is 5
b is 5
3 2 1 Go!

In [12]:
#Arithmetic operation in print
int_one = 2
int_two = 3
print(int_one+int_two)
print('sum is ',int_one+int_two)

5
sum is  5

In [4]:
# Placeholder %d and %s
print('int_one is',int_one,'\nint_two is',int_two)

print('int_one is %d\nint_two is %d'%(int_one,int_two))             #More readable.


python_inventor='Guido van Rossum'
appeared_year = 1990
print('Python was invented by %s and first appeared in %d'%(python_inventor,appeared_year))

int_one is 2
int_two is 3
int_one is 2
int_two is 3
Python was invented by Guido van Rossum and first appeared in 1990